{% extends "base.html" %}

<!-- HEADER WITH SEARCH GOES HERE -->
{% block header-title %}
Knowledge Base - Articles
{% endblock %}

{% block header-text %}
Tips and insights to get more out of your Wonderware software.
{% endblock%}

{% block sub-header %}
<div class="header-sub-container">
    <div class="container">
        <div class="row header-sub-breadcrumb">
            <div class="col-md-12">
                <span><a href="{% url 'home' %}">Home</a> / Knowledge Base</span>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container content-body">
    <div class="row">
        <div class="col-md-9">
        <h2 class="content-header">Categories</h2>
        {% for category in categories %}
        	<div class="col-md-4 content-section">
                <h3><a href="{% url 'article_category' slug=category.category__slug %}">{{ category.category__name }}</a></h3>
                <p class="sub-text">{{ category.count }}
                    {% if category.count > 1 %} articles {% else %} article {% endif %}</p>
                <hr>
            </div>
        {% endfor %}
	    </div>
	</div>
</div>
{% endblock %}