{% extends "base.html" %}

<!-- HEADER WITH SEARCH GOES HERE -->
{% block header-title %}
Knowledge Base - Articles
{% endblock %}

{% block header-text %}
Tips and insights to get more out of your Wonderware software.
{% endblock%}

{% block sub-header %}
<div class="header-sub-container">
    <div class="container">
        <div class="row header-sub-breadcrumb">
            <div class="col-md-12">
                <span>Home / Knowledge Base / {{ article.category }} / {{ article.title }}</span>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container content-body">
    <div class="row">
        <div class="col-md-9">
            <h2>{{ article.title }}</h2>
            <span>Published: </span>
            <span>{{ article.published_date|date:'M d, Y' }}</span>
            <span> | </span>
            <span>Author: </span>
            <span class="link">{{ article.author }}</span>
            <span> | </span>
            <span>Category: </span>
            <span class="link">{{ article.category }}</span>
            <span> | </span>
            <span>Comments: </span>
            <span class="link">3</span>
            <hr>
            {{ article.text|safe }}
            <hr>
        </div>
    </div>
</div>
{% endblock %}