{% extends "base.html" %}

<!-- HEADER WITH SEARCH GOES HERE -->
{% block header-title %}
Wonderware North Developer Blog
{% endblock %}

{% block header-text %}
A collection of articles and training material provided by the engineers at Wonderware North.
{% endblock%}

<!-- THIS IS THE 'SECONDARY' HEADER W CATEGORIES OR BREADCRUMBS -->
{% block sub-header %}
<div class="header-sub-container">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="header-sub-section header-sub-section-left">
                    <div class="row">
                        <div class="col-sm-3">
                            <span class="glyphicon glyphicon-folder-open"></span>
                        </div>
                        <div class="col-sm-7">
                            <span class="header-sub-section-title">Knowledge Base</span>
                            <p class="header-sub-section-text">{{ articles.count }} articles / {{ category_count.count }} categories </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="header-sub-section header-sub-section-center">
                    <div class="row">
                        <div class="col-sm-3">
                            <span class="glyphicon glyphicon-facetime-video"></span>
                        </div>
                        <div class="col-sm-7">
                            <span class="header-sub-section-title">Online Training</span>
                            <p class="header-sub-section-text">26 videos / 6 categories</p>
                        </div>  
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="header-sub-section header-sub-section-right">
                    <div class="row">
                        <div class="col-sm-3">
                            <span class="glyphicon glyphicon-bullhorn"></span>
                        </div>
                        <div class="col-sm-7">
                            <span class="header-sub-section-title">Forum</span>
                            <p class="header-sub-section-text">89 discussions / 58 users</p>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
<!-- MAIN BODY CONTENT -->
{% block content %}
<div class="container content-body">
    <div class="row">
        <div class="col-md-4 content-section">
            <h3>Recent Articles</h3>
            {% for article in articles %}
            <div class="row article">
                <div class="col-sm-1">
                    <span class="glyphicon glyphicon-file"></span>
                </div>
                <div class="col-sm-10">
                    <span>{{ article.title }}</span>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-md-4 content-section">
            <h3>Popular Videos</h3>
            <div class="row article">
                <div class="col-sm-1">
                    <span class="glyphicon glyphicon-play"></span>
                </div>
                <div class="col-sm-10">
                    <span>System Platform: Object Attributes Are Your Friend!</span>
                </div>
            </div>
            <div class="row article">
                <div class="col-sm-1">
                    <span class="glyphicon glyphicon-play"></span>
                </div>
                <div class="col-sm-10">
                    <span>Configuring DAServers</span>
                </div>

            </div>
            <div class="row article">
                <div class="col-sm-1">
                    <span class="glyphicon glyphicon-play"></span>
                </div>
                <div class="col-sm-10">
                    <span>Archestra Graphics Animation Links</span>
                </div>
            </div>
            <div class="row article">
                <div class="col-sm-1">
                    <span class="glyphicon glyphicon-play"></span>
                </div>
                <div class="col-sm-10">
                    <span>Creating InTouch Tags With Style and Ease</span>
                </div>
            </div>
        </div>
        <div class="col-md-4 content-section">
            <h3>Active Discussions</h3>
            <div class="row article">
                <div class="col-sm-1">
                    <span class="glyphicon glyphicon-comment"></span>
                </div>
                <div class="col-sm-10">
                    <span>System Platform: Object Attributes</span>
                    <br>
                    <span class="sub-text">45 comments</span>
                </div>
            </div>
            <div class="row article">
                <div class="col-sm-1">
                    <span class="glyphicon glyphicon-comment"></span>
                </div>
                <div class="col-sm-10">
                    <span>Configuring DAServers</span>
                    <br>
                    <span class="sub-text">41 comments</span>
                </div>
            </div>
            <div class="row article">
                <div class="col-sm-1">
                    <span class="glyphicon glyphicon-comment"></span>
                </div>
                <div class="col-sm-10">
                    <span>Archestra Graphics Primer</span>
                    <br>
                    <span class="sub-text">28 comments</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!--
<div class="row">
    <div class="col-md-8 col-lg-offset-2">
        <div class="col-md-4 content-cell">
            <h4>Popular Articles</h4>
            {% for article in articles %}
            <div class="row article">
                <div class="col-md-1">
                    <span class="glyphicon glyphicon-file"></span>
                </div>
                <div class="col-md-10">
                    <span>
                    	<a href="{% url 'article' pk=article.pk slug=article.slug %}">{{ article.title }}</a>
                    </span>
                </div>
            </div>
            <hr>
            {% endfor %}
        </div>
        <div class="col-md-4 content-cell">
            <h4>Recent Videos</h4>
            <div class="row article">
                <div class="col-md-1">
                    <span class="glyphicon glyphicon-play"></span>
                </div>
                <div class="col-md-10">
                    <span>System Platform: Object Attributes</span>
                </div>
            </div>
            <hr>
            <div class="row article">
                <div class="col-md-1">
                    <span class="glyphicon glyphicon-play"></span>
                </div>
                <div class="col-md-10">
                    <span>Configuring DAServers</span>
                </div>
               
            </div>
            <hr>
            <div class="row article">
                <div class="col-md-1">
                    <span class="glyphicon glyphicon-play"></span>
                </div>
                <div class="col-md-10">
                    <span>Archestra Graphics Primer</span>
                </div>
            </div>
            <hr>
            <div class="row article">
                <div class="col-md-1">
                    <span class="glyphicon glyphicon-play"></span>
                </div>
                <div class="col-md-10">
                    <span>Creating InTouch Tags</span>
                </div>
            </div>
        </div>
        <div class="col-md-4 content-cell">
            <h4>Active Discussions</h4>
            <div class="row article">
                <div class="col-md-1">
                    <span class="glyphicon glyphicon-comment"></span>
                </div>
                <div class="col-md-10">
                    <span>System Platform: Object Attributes</span>
                    <br>
                    <span class="comments">45 comments</span>
                </div>
            </div>
            <hr>
            <div class="row article">
                <div class="col-md-1">
                    <span class="glyphicon glyphicon-comment"></span>
                </div>
                <div class="col-md-10">
                    <span>Configuring DAServers</span>
                    <br>
                    <span class="comments">41 comments</span>
                </div>
               
            </div>
            <hr>
            <div class="row article">
                <div class="col-md-1">
                    <span class="glyphicon glyphicon-comment"></span>
                </div>
                <div class="col-md-10">
                    <span>Archestra Graphics Primer</span>
                    <br>
                    <span class="comments">28 comments</span>
                </div>
            </div>
            <hr>
            <div class="row article">
                <div class="col-md-1">
                    <span class="glyphicon glyphicon-comment"></span>
                </div>
                <div class="col-md-10">
                    <span>Creating InTouch Tags</span>
                    <br>
                    <span class="comments">27 comments</span>
                </div>
            </div>
        </div>
    </div>
</div>
-->
{% endblock %}