/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.jumbotron h1 {
    color: rgba(200, 50, 255, 1);
}

.post-text {
	font-family: 'Titillium Web', sans-serif;
	font-size: 16px;
}

.post-text > a {
	font-weight: 600;
}

.post-title {
	font-family: 'Ubuntu', sans-serif;
	font-size: 36px;
	color: #505050;
}

.subtitle {
	color: #757575;
}

.code {
	font-family: 'Anonymous Pro', ;
	color: #ff8f00;
}

.post-body {
	border-left: 1px solid;
	border-color: #dfdfdf;
}

.post-date {
	background-color: #002a41;
	color: #ffffff;
	padding-left: 0.8em;
	padding-right: 0.8em;
	font-family: 'Anonymous Pro', sans-serif;
}

a:hover {
	color: #002a41;
	text-decoration: none;
}

.imgcontainer {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: 100%;
}